<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>URL Shortener</title>
  <link rel="icon" type="image/x-icon" href="/favicon.png" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/output.css" />
</head>

<body
  class="my-10 mx-auto w-[calc(100%-50px)] sm:w-[calc(100%-100px)] lg:w-[calc(100%-200px)] bg-gray-100 h-full flex flex-col items-center overflow-x-hidden">
  <h1 class="text-3xl text-green-600 text-center uppercase font-semibold">URL Shortener</h1>

  <%- include('partials/flash-toast') %>

  <%- include('partials/form') %>

  <%- include('partials/data-table') %>

  <script type="module" src="/app.js"></script>
</body>

</html>